<div id="carrier-shop-list-wrapper" data-bind="visible: selectedMethod() == 'shipfromshop_shipfromshop'">
    <p data-bind="visible: !showShopListSelection(), i18n: 'Do not have shops with products. Please contact us.'"></p>
    <div data-bind="visible: showShopListSelection()">
        <p>
            <span data-bind="i18n: 'Select pickup shop.'"></span>
        </p>
        <select id="carrier-pickupshop-list" data-bind="options: shops(),
                                            value: selectedShop,
                                            optionsValue: 'id',
                                            optionsText: function(item){return item.name + ' (' + item.id +')';}">
        </select>
    </div>
</div>