<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <bforward_pickupproductfromshop>
            <general>
                <enable>1</enable>
                <display_text>Hello World</display_text>
            </general>
        </bforward_pickupproductfromshop>
        <carriers>
            <shipfromshop>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Bforward\PickUpProductFromShop\Model\Carrier\Shipping</model>
                <name>Pick Up From Shop</name>
                <price>0.00</price>
                <title>Pick Up From Shop</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </shipfromshop>
        </carriers>
    </default>
</config>