<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Bforward\PickUpProductFromShop\Api\Data\ShopListInterface" type="Bforward\PickUpProductFromShop\Model\ShopList" />
    <preference for="Bforward\PickUpProductFromShop\Api\ShopListManagementInterface" type="Bforward\PickUpProductFromShop\Model\ShopListManagement" />
    <preference for="Magento\Sales\Block\Adminhtml\Order\AbstractOrder" type="Bforward\PickUpProductFromShop\Block\Adminhtml\Order\AbstractOrder" />
    <preference for="Magento\Sales\Block\Order\Info" type="Bforward\PickUpProductFromShop\Block\Order\Info" />
    <type name="Magento\Quote\Model\ShippingAssignment">
        <plugin name="carrier-pickupshop-plugin" type="Bforward\PickUpProductFromShop\Plugin\Quote\ShippingAssignmentPlugin" sortOrder="1" disabled="false"/>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="bforward_pickupproductfromshop_shoplist_listing_data_source" xsi:type="string">
                    Bforward\PickUpProductFromShop\Model\ResourceModel\ShopList\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Bforward\PickUpProductFromShop\Model\ResourceModel\ShopList\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">shop_list</argument>
            <argument name="resourceModel" xsi:type="string">Bforward\PickUpProductFromShop\Model\ResourceModel\ShopList</argument>
        </arguments>
    </virtualType>
</config>