<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Bforward\PickUpProductFromShop\Api\OfficeManagementInterface" type="Bforward\PickUpProductFromShop\Model\OfficeManagement" />
    <preference for="Bforward\PickUpProductFromShop\Api\Data\OfficeInterface" type="Bforward\PickUpProductFromShop\Model\Office" />
    <type name="Magento\Quote\Model\ShippingAssignment">
        <plugin name="carrier-office-plugin" type="Bforward\PickUpProductFromShop\Plugin\Quote\ShippingAssignmentPlugin" sortOrder="1" disabled="false"/>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="bforward_pickupproductfromshop_shoplist_listing_data_source" xsi:type="string">
                    Bforward\PickUpProductFromShop\Model\ResourceModel\ShopList\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Bforward\PickUpProductFromShop\Model\ResourceModel\ShopList\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">shop_list</argument>
            <argument name="resourceModel" xsi:type="string">Bforward\PickUpProductFromShop\Model\ResourceModel\ShopList</argument>
        </arguments>
    </virtualType>
</config>