<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="bforward_pickupproductfromshop_shoplist_listing_data_source" xsi:type="string">
                    Bforward\PickUpProductFromShop\Model\ResourceModel\ShopList\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Bforward\PickUpProductFromShop\Model\ResourceModel\ShopList\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">shop_list</argument>
            <argument name="resourceModel" xsi:type="string">Bforward\PickUpProductFromShop\Model\ResourceModel\ShopList</argument>
        </arguments>
    </virtualType>
</config>